.tutor-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10vh;
}

.kartu-tutor {
  width: 20%;
  margin: 0 auto;
}

.kartu-tutor img {
  width: 80%;
  border-radius: 50%;
}

.kartu-tutor p {
  font-family: "comic sans ms";
  font-weight: 80;
  font-size: 25px;
  text-align: center;
  color: #364f6b;
  max-width: 50vh;
}

#tutors .tengah {
    text-align: center;
    width: 100%;
}

#tutors .kolom {
    width: 100%;       /* Biar dia selebar layar */
    margin: 0 auto;    /* Posisikan di tengah */
    max-width: 120vh;
}

#tutors {
    margin-top: 10vh;
}